* {
	box-sizing: border-box;
}


body {
	margin: 0;
	width: 400px;
	max-width: 400px;
	padding: 5px;
	padding-bottom: 0;
	background: rgb(64,64,64);
	font-family: Arial, sans-serif;
}

#search {
	width: 100%;
	padding: 2px 5px;
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin: 0;
	background: rgb(230,230,230);
}


#items {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-user-select: none;
	user-select: none;
}

/*#items::-webkit-scrollbar              { background-color: red; }
#items::-webkit-scrollbar-button       {  }
#items::-webkit-scrollbar-track        {  }
#items::-webkit-scrollbar-track-piece  { }
#items::-webkit-scrollbar-thumb        {  }
#items::-webkit-scrollbar-corner       {  }
#items::-webkit-resizer                {  }*/

::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
	box-sizing: border-box;
	background-clip: content-box;
	background: linear-gradient(to right, rgb(34, 34, 34), rgb(45, 45, 45));
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-thumb {
	background-clip: content-box;
	border: 3px solid transparent;
	background-image: linear-gradient(to right, rgb(84, 84, 84), rgb(64, 64, 64));
	min-height: 28px;
	border-radius: 10px;
	box-shadow: inset 1px 0px rgb(30, 30, 30), inset -1px 0px rgb(30, 30, 30);
}
::-webkit-scrollbar-corner {
	background: transparent
}


.item {
	width: 100%;
	padding: 10px;
	border-top: 1px solid rgb(77,77,77);
	border-bottom: 1px solid #333;
	display: none;
}

.visible {
	display: block !important;
}

.visible:first-of-type {
	margin-top: 5px;
}

.item-selected {
	background: rgb(87, 87, 87);;
}

.favicon {
	float: left;
	width: 32px;
	height: 32px;
	line-height: 32px;
	margin-right: 10px;
	text-align: center;
}

.favicon img {
	max-width: 28px;
	max-height: 28px;
	vertical-align: middle;
}

.item-first-row {
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(200,200,200);
}

.item-second-row {
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(255,255,255);
}

[data-closed=true] {
	text-decoration: line-through;
}