* {
	box-sizing: border-box;
}


body {
	margin: 0;
	width: 400px;
	max-width: 400px;
	padding: 5px;
	background: rgb(64,64,64);
	font-family: Arial, sans-serif;
}

#search {
	width: 100%;
	padding: 2px 5px;
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin: 0;
	background: rgb(230,230,230);
}


#items {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-user-select: none;
	user-select: none;
}

.item {
	width: 100%;
	padding: 10px;
	border-top: 1px solid rgb(77,77,77);
	border-bottom: 1px solid #333;
	display: none;
}

.visible {
	display: block !important;
}

.visible:first-of-type {
	margin-top: 5px;
}

.item-selected {
	background: rgb(87, 87, 87);;
}

.item-first-row {
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(200,200,200);
}

.item-second-row {
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(255,255,255);
}

[data-closed=true] {
	text-decoration: line-through;
}